<!DOCTYPE html>
<html>
<head>
	<title>Mushrooms</title>
</head>
<body ng-app= 'mushroomApp'>


<h1>Welcome to Mushroom App</h1>
<input type="text" ng-model="toggle" placeholder="Edible"><br>
<input type="text" ng-model="toggle" placeholder="Non-Edible">
<p ng-inint="allowed = false">
</p>
<span ng-show=>Edible</span>
<span ng-hide= "Non-Edible"></span>
<br>

<div>
<h3>Mushroom</h3>
	<ul>
		<li ng-repeat="edible.mushroom">
		<input type="checkbox" ng-model="edible.mushroom">
		{{mushroom.name}}
		</li>
	</ul>
</div>

<div ng-click="Mushroom"

<p>
<input type="button" value="toggle" ng-click= "allowed = !allowed">
</p>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>
</html>